streamlit
pandas
openpyxl
python-dotenv
plotly
reportlab
python-pptx
requests
groq
langchain-groq
fpdf
langchain-ollama
langchain-community
fpdf2
openai
langchain-openai
bcrypt
mysql-connector-python
pymongo
matplotlib
kaleido
tabulate
fonttools
python-pptx
kaleido
seaborn
langchain-community
pycaret
plotly
shap
joblib

numpy==2.2.0
scipy==1.11.4
scikit-learn==1.3.2
joblib==1.3.2
matplotlib==3.10.6
seaborn==0.12.2
flaml==2.2.0
optuna==3.4.0
evalml==0.50.0
shap==0.46.0
lime==0.2.0.1
streamlit==1.38.0

